.hbox{
	-fx-background-color:rgb(127,127,127);
	-fx-border-color: white ; 
	-fx-background-insets: 1, 2, 3;
    -fx-background-radius: 9 9 9 9, 9 6 6 6, 9 5 5 5;
    
}
.menu-item .label {
	-fx-font-weight : bold;
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: rgb(0,112,192);
}

.menu-item:focused .label {
    -fx-text-fill:rgb(255,255,255);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: rgb(165,165,165);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 9 9 9, 0 6 6 6, 0 5 5 5;
    -fx-padding: 0.433333em 0.093333em 0.966667em 0.093333em; /* 4 1 8 1 */
}
.menu-button{
	
	-fx-background-color:  rgb(127,127,127);
	-fx-padding: 0;
}
.button{
	-fx-background-color:  rgb(127,127,127);
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
